apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: chunker-service
    newName: image-registry.openshift-image-registry.svc:5000/advanced-rag/chunker-service
    newTag: latest
