apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: vector-gateway
    newName: ghcr.io/kush-gupt/advanced-rag/vector-gateway
    newTag: latest
