apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - route.yaml

commonLabels:
  app: chunker-service
  app.kubernetes.io/name: chunker-service
  app.kubernetes.io/part-of: advanced-rag
