apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: embedding-service
    newName: ghcr.io/kush-gupt/advanced-rag/embedding-service
    newTag: latest
