apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - route.yaml
  - configmap.yaml

commonLabels:
  app: vector-gateway
  app.kubernetes.io/name: vector-gateway
  app.kubernetes.io/part-of: advanced-rag
