apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: ingestion-mcp
    newName: ghcr.io/kush-gupt/advanced-rag/ingestion-mcp
    newTag: latest

