apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gpt-oss-model-cache
  namespace: gpt-oss
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi
  storageClassName: gp3-csi
